{{>layouts/header}}

<form action="/articles/posts" method="post" class="container text-center">

    <input type="text" name="title">
    <input type="text" name="contents">
    <button type="submit" class="btn btn-success">btn</button>
    <a href="/articles">back</a>
</form>

{{>layouts/footer}}